@import "./styles/map-responsive.css";
@import './styles/responsive.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remover flechas (spinners) de los inputs numéricos */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  
  h1 {
    @apply text-xl md:text-2xl lg:text-4xl font-bold mb-2 md:mb-4;
  }
  
  h2 {
    @apply text-lg md:text-xl lg:text-3xl font-bold mb-2 md:mb-3;
  }
  
  h3 {
    @apply text-base md:text-lg font-bold mb-1 md:mb-2;
  }
  
  p {
    @apply text-sm md:text-base;
  }

  /* Mejoras para formularios en móviles */
  @media (max-width: 640px) {
    form {
      @apply space-y-2;
    }
    
    input, select, textarea {
      @apply text-sm py-1;
    }
    
    button {
      @apply text-sm py-1 px-2;
    }
    
    .form-container {
      @apply px-2 py-2;
    }
  }
}