.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.map-container {
  position: relative;
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .map-container {
    height: 300px;
  }
}